* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --HEADER-BGCOLOR: #333;
    --HEADER-FCOLOR: whitesmoke;
    --MAIN-BGCOLOR: #ECE2D0;
    --MAIN-FCOLOR: black;
    --CONTACTCARD-BGCOLOR: #c9bda5;
    --CONTACTCARD-FCOLOR: black;

    --SPACING-S: 0.5rem;
    --SPACING-M: 1rem;
    --SPACING-L: 1.5rem;
    --SPACING-XL: 2rem
}


html {
    scroll-behavior: smooth;
    font-family: Arial, sans-serif, monospace;
    overflow-x: hidden;
}

body {
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-size: var(--SPACING-XL);
    margin-bottom: var(--SPACING-M);
}

h2 {
    font-size: var(--SPACING-L);
    text-decoration: underline;
    margin-bottom: var(--SPACING-S);
}

ul,
ol {
    padding-left: var(--SPACING-L);
    margin-bottom: var(--SPACING-M);
}

li {
    line-height: 1.6;
}

a:any-link {
    text-decoration: none;
    color: var(--MAIN-FCOLOR)
}

header {
    position: fixed;
    width: 100%;
    background: var(--HEADER-BGCOLOR);
    color: var(--HEADER-FCOLOR);
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}


.header-title-line {
    padding: 0.25rem 0.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.menu-button {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
    background-color: var(--HEADER-FCOLOR);
    width: 40px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    transition: all 0.5s;
}

.menu-icon::before,
.menu-icon::after {
    content: "";
}

.menu-icon::before {
    transform: translate(-20px, -12px);
}

.menu-icon::after {
    transform: translate(-20px, 12px);
}

:is(header:hover, header:focus-within) .menu-icon {
    background-color: transparent;
    transform: rotate(360deg)
}

:is(header:hover, header:focus-within) .menu-icon::before {
    transform: translateX(-20px) rotate(45deg);
}

:is(header:hover, header:focus-within) .menu-icon::after {
    transform: translateX(-20px) rotate(-45deg);
}

:is(header:hover, header:focus-within) nav {
    display: block;
    transform: translateX(-20px) rotate(-45deg);
}

nav {
    display: none;
    transform-origin: top center;
    animation: showMenu 0.5s ease-in-out forwards;
    background-color: var(--HEADER-BGCOLOR);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

@keyframes showMenu {
    0% {
        transform: scaleY(0);
    }

    80% {
        transform: scaleY(1.2);
    }

    100% {
        transform: scaleY(1);
    }
}

nav ul {
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
}

nav li {
    border-top: 1px solid var(--HEADER-FCOLOR);
    padding: var(--SPACING-S);
}

nav a {
    display: block;
    text-align: center;
    padding: var(--SPACING-S);

}

nav a:any-link {
    color: var(--HEADER-FCOLOR);
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s;
}

nav a:hover,
nav a:focus {
    transform: scale(1.1);
}


.fullpage {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--MAIN-BGCOLOR);
    padding-top: 5rem;
    padding-right: var(--SPACING-M);
    padding-left: var(--SPACING-M);
    min-height: 100vh;
}

.about-container-pic{
    display: flex;
    align-items: center;
    gap: var(--SPACING-M);
    font-size: var(--SPACING-L);
    margin: var(--SPACING-L);
}

.service {
    margin: 0 auto;
    line-height: 1.6;
    color: var(--MAIN-FCOLOR);
}

.service h2, 
.service h3 {
  text-align: center;
  margin: var(--SPACING-M);
}

.service-slogan{
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: var(--SPACING-XL);
}

.service-list, .service-target-group{
    list-style: none;
    padding: 0;
    margin: var(--SPACING-M) 0;
}

.service-list li, .service-target-group li{
    margin-bottom: var(--SPACING-L);
    padding-left: var(--SPACING-L);
    position: relative; 
}

.service-list li::before, .service-target-group li::before {
    content: "✔️";
    position: absolute;
    left: 0;
    top: 0;
  }

.section-contact {
    text-align: center;
}

.contact-options {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: var(--SPACING-XL) auto;
}

.contact-card {
    display: flex;
    align-items: center;
    gap: var(--SPACING-M);
    padding: var(--SPACING-M) var(--SPACING-XL);
    background-color: var(--CONTACTCARD-BGCOLOR);
    border-radius: 10px;
    text-decoration: none;
    color: var(--CONTACTCARD-FCOLOR);
    font-size: 1.2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.contact-card:hover {
    transform: scale(1.05);
}

.contact-card img {
    width: 32px;
    height: 32px;
}

.article-date {
    font-size: 0.9em;
    color: var(--MAIN-FCOLOR);
    margin-bottom: var(--SPACING-S);
}

.article-text {
    font-size: var(--SPACING-M);
    color: var(--MAIN-FCOLOR);
    line-height: 1.6;
}

.article-img {
    max-width: 90%;
    height: auto;
    margin: var(--SPACING-M) 0;
    display: block;
}

.profilpic {
    max-width: 50%;
    max-width: 400px;
    height: auto;
    border-radius: 25%;
    margin-bottom: var(--SPACING-M);
    filter: brightness(90%);
}

.sectiondatenschutz h2 {
    margin: var(--SPACING-M) auto;
    text-align: center;
}

.sectiondatenschutz {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: var(--SPACING-XL);
}

@media (max-width: 600px){



    .service-slogan{
        font-size: var(--SPACING-M);
    }

    .contact-options{
        flex-direction: column;
        gap: var(--SPACING-M);
        padding: var(--SPACING-M);
    }

    .contact-card {
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
    }

    .article, .article-img {
        max-width: 100%;
        padding: var(--SPACING-S);
    }

    nav ul {
        font-size: var(--SPACING-M);
    }

    h1 {
        font-size: var(--SPACING-XL);
    }
    h2 {
        font-size: var(--SPACING-L);
    }
}

@media (max-width: 900px) {
    


    nav ul {
      flex-direction: column;
      gap: var(--SPACING-S);
    }

    .service-slogan {
        font-size: var(--SPACING-M);
    }
  
    .article {
      padding: var(--SPACING-M);
    }
  
    .contact-options {
      padding: var(--SPACING-L);
    }
  }
  